[dev]
  command = "yarn start"
  port = 3000
  publish = "dist"

[build]
  command = "yarn run upload-schema && yarn build"
  publish = "build/"
  functions = 'build/functions'

[[headers]]
  for = "service-worker.js"
  [headers.values]
    cache-control = "max-age=0,no-cache,no-store,must-revalidate"