.expandOnHover {
  transform: scale3d(1,1,1);
  transition: transform 0.2s;
}

.expandOnHover:hover: {
  transform: scale3d(1.05,1.05,1);
}

.expandOnHover:active: {
  transform: scale3d(0.98,0.98,1);
}
