.shapeEditorPanel {
  position: absolute;
  width: 225px;
  height: 260px;
  background: #fff;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 1fr 1fr 30px;
  box-shadow: 1px 2px 19px rgba(0,0,0,0.3);
}

.sliderContainer {
  grid-row: 1 / 6;
  /*border: 1px solid white;*/
}

.buttonShort {
  /*height: 30px;*/
}

.shapeEditorPanel button {
  height: 100%;
  background: none;
  border: none;
  background: #c9563c;
  /*border: 1px solid #fff;*/
  color: #fff;
}

.tooltipArrow {
  display: block;
  position: absolute;
  top: 40px;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  border-width: 10px;
  margin-top: -10px;
}

.deleteButton {
  grid-column: 2 / 4;
}

.arrowLeft {
  right: 100%;
  border-right-color: #fff;
}

.arrowRight {
  left: 100%;
  border-left-color: #fff;
}
