.toolbar {
  display: grid;
  /*position: absolute;*/
  z-index: 2;
  grid-template-rows: 100%;
  grid-column-gap: 15px;
  grid-template-columns: 80px 120px 180px 250px 120px 280px;
  /*max-width: 900px;*/
  min-width: 800px;
  top: 0px;
  height: 50px;
  padding: 8px 6px;
  width: 100%;
  background: #fff;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}

.toolbarSection {
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  grid-gap: 3px;
  /*padding: 2px;*/
  border-radius: 8px;
  grid-template-columns: repeat(2, 1fr);
  /*background: #222;*/
}

.canvasControls {
  grid-template-columns: repeat(2, 1fr);
}
.toolSelect {
  grid-template-columns: repeat(3, 1fr);
}

.musicalControls {
  /*width: 250px;*/
  grid-template-columns: 40px 70px 1fr;
}

.toolbar button {
  height: 100%;
  width: 100%;
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
