.checkboxButton {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.checkboxLabel {
  height: 100%;
  width: 100%;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 4px 7px;
  text-align: center;
}
