.wrapper {
  padding: 2;
  border-radius: 2;
  text-align: center;
  cursor: ew-resize;
  height: 100%;
  background: #f1f1f1;
  border: 1px solid #d9d9d9;
}

.value {
  padding-top: 8px;
  display: block;
  height: 100%;
  transform: scale3d(1, 1, 1);
  transition: transform 0.2s;
}

.value:hover,
.value:active {
  transform: scale3d(1.2, 1.2, 1);
}
